<div id="app-wrapper">
  <header>
    <h1>Watto's Shipyard</h1>
    <img
      [width]="200"
      [height]="200"
      src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_700/MTc0NDcyNjkzMzgxMzQyODU0/top-terrible-things-about-watto-from-star-wars.webp"
    />
    <nav>
      <a href="/ship-catalogue">Full catalogue</a>
      <a href="/ships-with-signals">Ships with signals!</a>
      <a href="/ships-with-ngrx">Ships with NGRX!</a>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
